@page { 
	margin-right: 0.69in; 
	margin-top: 0.39in; 
	margin-bottom: 0.59in; 
}

p { 
	margin-bottom: 0in; 
	direction: ltr; 
	color: #000000; 
	widows: 2; 
	orphans: 2;
}

p.western { 
	font-family: "Times New Roman", serif; 
	font-size: 10pt; 
}

p.cjk { 
	font-family: "Times New Roman", serif; 
	font-size: 10pt 
}

p.ctl { 
	font-family: "Times New Roman", serif; 
	font-size: 10pt; 
}

h1 { 
	margin-top: 0in; 
	margin-bottom: 0in; 
	direction: ltr; 
	color: #000000; 
	text-align: center; 
	widows: 2; 
	orphans: 2;
}

h1.western { 
	font-family: "Helvetica 45 Light", "Vrinda", sans-serif; 
	font-size: 16pt; 
	font-style: italic;
}

h1.cjk { 
	font-family: "Times New Roman", serif; 
	font-size: 16pt; 
	font-style: italic;
}

h1.ctl { 
	font-family: "Helvetica 45 Light", "Vrinda", sans-serif; 
	font-size: 10pt; 
	font-weight: normal; 
}
