tr.noBorder td {
	border: 0;
}

#IFRA-red{
	background-color: #F00;
	color: white;
}

#IFRA-yellow{
	color: white;
	background-color: #FC3;
}


.table th,
.table td {
  padding: 0.2rem;
  vertical-align: top;
  border-top: 1px solid #e3e6f0;
}

th {
	text-align:center;
}

html {
	font-size: 15px;
}

.card-body {
	padding: 1.25rem;
}

.row {
	margin-left: 0.75rem;
	margin-right: 0.75rem;

}

.h5 {
	font-size: 1.6rem;
}

.text-xs {
	font-size: 14px;
}

.fa-2x {
	font-size: 2.5em;
}



.popup_content {
  margin: 10px;
  padding: 0 10px;
  max-width: 60%;
  border: 2px solid #444;
  background: white;
}

.white-popup {
  position: relative;
  background: #FFF;
  padding: 20px;
  width: auto;
  max-width: 500px;
  margin: 20px auto;
}

.mfp-iframe-scaler iframe {
	background-color:#FFF;
}

a { text-decoration: none; }

.navbar {
    position: relative;
    display: inherit;
}

.form-inline, .form-inline label {
    display: initial;
}

.bg-login-image {
  background: url("../img/logo.png");
  background-position: center;
  background-size: cover;
}

.bg-install-image {
  background: url("../img/logo.png");
  background-position: center;
  background-size: cover;
  height: 430px;
  margin-top: 215px;
}
.bg-register-image {
  background: url("../img/logo.png");
  background-position: center;
  background-size: cover;
  height: 430px;
}

.bg-ptypes-image {
  background: url("../img/perfumes-types.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 300px;
}

.vault-top {
    float: right;
}
.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -10px;
    right: -21px;
    color: inherit;
}

.img-perfume {
  height: 6rem;
  width: 6rem;
}

.Base_notes {
    background-image: url('../img/Base.png');
    background-size: 10px 10px;
    background-repeat:no-repeat;
    display: inline-block;
    width: 10px; 
    height: 20px;
    content:"";
}

.Heart_notes {
    background-image: url('../img/Heart.png');
    background-size: 10px 10px;
    background-repeat:no-repeat;
    display: inline-block;
    width: 10px; 
    height: 20px;
    content:"";
}

.Top_notes {
    background-image: url('../img/Top.png');
    background-size: 10px 10px;
    background-repeat:no-repeat;
    display: inline-block;
    width: 10px; 
    height: 20px;
    content:"";
}

.img-formula {
	height: 60px;
	float: right;
	margin-bottom: 23px;
	margin-right: 19px;
}

.bg-gradient-primary {
    background-color: #4e73df;
    background-image: linear-gradient(180deg, #4e73df 10%, #6122be 100%);
    background-size: cover;
}

tr.group,
tr.group:hover {
    background-color: #85969524 !important;
	color: #0000008f;
}

.makeFormula {
	font-size:x-large;
}

.badge-danger {
    color: #fff;
    background-color: #e74a3b;
}


table { border-collapse: collapse; empty-cells: show; }

td { position: relative; }

tr.strikeout td:before {
  	content: " ";
  	position: absolute;
  	top: 50%;
  	left: 0;
	border-bottom: 1px solid #111;
	width: 100%;
}

.strikeout {
	font-style: italic;
	font-size: 20px;
}

#formula td,
  table.table th {
  white-space: nowrap;
}

.badge_int {
    display: inline-block;
    min-width: 10px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border-radius: 10px;
}

.modal-footer_2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #e3e6f0;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.sup { 
	position: relative; 
	top: -0.5em; 
	font-size: 80%; 
}

.pull-left {
    float: left !important;
	width: 50%;
}
.pull-right {
    float: right !important;
	width: 50%;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px 10px 10px 150px;
	box-sizing: border-box;
}


.dash_charts {
	position: relative;
    margin-left: 605px;
    padding-top: 300px;
    padding-bottom: 300px;
	display: contents;
	box-sizing: border-box;
	border: 1px solid #272c30;
    border-top-color: rgb(39, 44, 48);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(39, 44, 48);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(39, 44, 48);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(39, 44, 48);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-outset: 0;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
}

.chartjs-render-monitor {
    animation: chartjs-render-animation 1ms;
}

.charts_box {
    width: 100%;
	display: flex;
}


.loader {
  width: 250px;
  height: 250px;
  content:url(/img/Testtube.gif);
}

.loader-center {
  padding: 10px;
  position: absolute;
  top: 100%;
  left: 44%;
  margin: 200px 0 0 -100px;
}

.loader-text {
  color: #000;
  font-family: arial, sans-serif;
  text-align:center;
}

.loader-text:after {
  content: 'Loading';
  animation: load 2s linear infinite;
}

@keyframes load {
  0% {
    content: 'Blending';
  }
  33% {
    content: 'Blending.';
  }
  67% {
    content: 'Blending..';
  }
  100% {
    content: 'Blending...';
  }
}

a:hover{
    text-decoration: none;
}

.even_ing {
    background-color: #FFF !important;
}
.odd_ing {
    background-color:  #EEE !important;
}

.odd:hover {
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, #e0f2ff 100%);
}

.even:hover{
  box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.3);
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, #e0f2ff 100%);
}

.modal-ifra {
  width: 800px;
  max-width: 800px;
  margin: auto;
}

.img_ing {
    max-height: 50px;
	padding: 10px 0px 0px 10px;
}

.img_ing_sel {
    max-height: 30px;
	max-width: 30px;
	padding: 0 10px 0 0;
}

figure {
    display: inline;
    border: none;
    margin: 25px;
}
figure img {
    vertical-align: top;
}
figure figcaption {
    border: none;
    text-align: center;
}

formula td, table.table th {
	white-space: revert;
}

#notes_summary_view td {
	display: inline-block;	
}

.col-md-6 {
	width: 50%;
	height: fit-content;
}

.conf_tbl {
	float:left;
	padding: 20px;
}

.conf_tbl td {
	display: inline;
}

.modal-conf-view {
  width: 600px !important;
  max-width: 600px;
}

.mgmIngHeader {
	font-size: 3rem;
	line-height: 3rem;
	color: #004372;
	background: white;
}
.mgmIngHeader-with-separator::after {
    content: '';
    display: block;
    height: 0;
    width: 8rem;
    margin-top: 1.25rem;
    border-bottom-width: 0.375rem;
    border-bottom-style: solid;
}

.mgmIngHeader-with-separator-full::after {
    content: '';
    display: block;
    height: 15;
    width: 65rem;
    margin-top: 1.25rem;
    border-bottom-width: 0.375rem;
    border-bottom-style: hidden;
}

.mgmIngHeaderCAS {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	color: gray;
	font-size: 1.875rem;
	margin-top: 0.9375rem;
	display: block;
	background: white;
}

.mgm-row-xl > .mgm-row-inner > .mgm-column {
	padding-left: 1.375rem;
	padding-right: 1.375rem;
}

.mgm-visible-xl {
	display: block;
}

.mgm-col-xl-5 {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 41.66667%;
	-ms-flex: 0 0 41.66667%;
	flex: 0 0 41.66667%;
}

.mgm-column {
	position: relative;
	width: 100%;
	min-height: 1px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.mgm-cat-in {
	color: #444444;
	font-size: 0.825rem;
	text-transform: uppercase;
	font-weight: 300;
	line-height: 0.625rem;
	text-align: center;
}

.odor_profile_overview {
  display: inline-block;
  position: relative;
}

.odor_profile_overview ul {
  position: absolute;
}

.img_ing_prof {
    max-height: 50px;
    max-width: 50px;
    padding: 10px 0px 0px 10px;
}

.listIngName {
    font-size: 1.1rem;
    line-height: 2rem;
    color: #004372;
  /*  background: white; */
	font-weight: bolder;
}

.listIngName-with-separator {
    content: '';
    display: inline;
    height: 0;
    width: 8rem;
    margin-top: 0.25rem;
    border-bottom-width: 0.1rem;
    border-bottom-style: solid;
}

.listIngHeaderSub {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: gray;
    font-size: 1.2rem;
    margin-top: 0.1rem;
    display: block;
   /* background: white; */
	font-weight: normal;
}

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.caret {
	border-top: 4px;
}

.btn-search {
	color: #FFF !important;
}

.colorKey {
    display: inline-block;
    float: none;
    width: 34px;
    height: 34px;
    margin-right: 16px;
    border-radius: 100%;
}


.sub-2-container {
    display: flex;
}

.sub-2-header {
    border-top-width: 0.125rem;
    border-top-style: solid;
    border-top-color: #e7e7e7;
	border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: #e7e7e7;
    padding-top: 0.812rem;
    padding-bottom: 0.812rem;
}


.sub-2-fema {
    font-size: 1rem;
    letter-spacing: 0.03125rem;
    color: #bcc98c;
    margin-right: 0.625rem;
    margin-left: 0.625rem;
}

.sub-2-inci {
    font-family: 'Gothic A1', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.85rem;
    color: #444444;
    font-weight: 300;
}

.sub-2-einecs {
    font-family: 'Gothic A1', sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-size: 0.85rem;
    color: #444444;
    font-weight: 300;
}

.mgm-ing-bk {
    background-color: white;
}

.ing_ico_list {
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 auto 10px;
    background-size: cover;
    background-position: 50%;
}

.ing-view {
	display: inline-block;
	margin: 0px 10px 0px 10px;
}

.ing-view a:hover{
	text-decoration: none;
}

.mgm-ing-theme {
	background-color: fff;
	/*
	background-image: linear-gradient(to bottom, transparent, white 75%), url("/img/molecule.png");
	background-repeat: no-repeat;
	padding: 50px 0px 0px 50px;
	*/
}
.compare {
	display: inline;
	border: none;
	width: auto;
	max-width: 100%;
	margin: 20px 0px 0px 0px;
}
.compare_formula_name {
	border: none !important;
}

.cmp_a {
    margin: 10px 20px 0px 20px;
    width: 100%;
}

.where_used {
	margin-top: .4rem;
	margin-bottom: .4rem;
	overflow: auto;
	max-height: 300px;
	white-space: normal;
	text-overflow: ellipsis
}

#list_revisions {
	margin: 20px 20px 20px 20px;
}

.viewFormula {
    overflow: auto;
}

.pv_point_gen {
	cursor: pointer;
	color: currentColor;
	font-style: normal;
}

.pv_bar_top_notes {
    background-color: #36b9cc !important;
}

.pv_bar_heart_notes {
    background-color: #1cc88a !important;
}

.pv_bar_base_notes {
    background-color: #337ab7 !important;
}

.inv-ok {
	color:green;
}

.inv-no-info {
	color: #8a6d3b;
}

.inv-out {
	color: red;
}

table.fixedHeader-floating {
	background-color: lightgray;
	color: #666;  
}

.pv_ing_exc {
	text-decoration: line-through;
	font-style: italic;
}

.table-bordered {
    border: 1px solid #ddd !important;
}

.pv_menu_formulas {
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
}

.ing_alg {
	display: block;	
	color: #b7b41a;
}

.pv_gen_li {
	color: #23527c;
}

.advanced_search_box {
	text-align: right;
	display: block;
	font-weight: bold;
}

.pv_input_grp {
	position: relative;
	display: inline-table;
	border-collapse: separate;
	width: 20% !important;	
}

.pv_input_sm {
	height: 34px !important;
}

.pv_vertical_middle {
	vertical-align: middle !important;
}

.subHeaderCAS {
	font-size: 1.2rem;
	display: inline;
	font-weight: bold;
	color: #77716f !important
}

.pv_exclusions {
	display: grid;
}

td.details-control {
    background: url('../img/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.details td.details-control {
    background: url('../img/details_close.png') no-repeat center center;
}
mark{
	background:orange;
	color:black;
}

.img_ifra {
    max-height: 120px;
    max-width: 120px;
}

.ifra_details {
	padding-left: 10px;	
}

table.dataTable {
    font-size: 13px !important;
}

body {
	font-size: 13px !important;
}

.pv_formula_diff {
	color: #858796;
	background-color: #f6c23e75 !important;	
}

#formula_name {
    display: inline;
}
